/* Start variables */
:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --heading-height: 73.6px;
    --main-transition-duration: 0.3s;
    --main-section-padding: 100px;
    --section-background-color: #ececec;
}
/* End variables */

/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
}

/* Small */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* End global rules */

/* Start components */
.main-title{
    text-transform: uppercase;
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 30px;
    position: relative;
    transition: var(--main-transition-duration);
    z-index: 1;
}

.main-title::before,
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.main-title::before{
    left: -30px;
}

.main-title::after{
    right: -30px;
}

.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover{
    transition-delay: 0.5s;
    border: 2px solid white;
    color: white;
}
/* End components */

/* Start header */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .container .logo{
    font-size: 26px;
    font-weight: bold;
    height: var(--heading-height);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px){
    .header .container .logo{
        width: 100%;
    }
}

.header .container .main-nav{
    display: flex;
}

@media (max-width: 767px){
    .header .container .main-nav{
        margin: auto;
    }
}

.header .container .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--heading-height);
    padding: 0 30px;
    font-size: 18px;
    color: black;
    transition: var(--main-transition-duration);
    position: relative;
}

@media (max-width: 767px){
    .header .container .main-nav > li > a{
       padding: 0 10px;
       font-size: 14px;
       height: calc(var(--heading-height) - 30px);
    }
}

.header .container .main-nav > li > a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    transition: width var(--main-transition-duration);
    background-color: var(--main-color);
}

.header .container .main-nav > li > a:hover{
    color: var(--main-color);
    background-color: #fafafa;
}

.header .container .main-nav > li > a:hover::before{
    width: 100%;
}

.header .megamenu{
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition-duration), opacity var(--main-transition-duration);
}

.header .container .main-nav > li:last-child:hover .megamenu{
    top: calc(100% + 1px);
    opacity: 1;
    z-index: 99;
}

@media (max-width: 767px){
    .header .megamenu{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .megamenu .links{
    min-width: 250px;
}

@media (max-width: 991px){
    .header .megamenu .links{
        flex: 1;
    }
}

.header .megamenu .links li{
    position: relative;
}

.header .megamenu .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px){
    .header .megamenu .links:first-of-type li:last-child{
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .megamenu .links li::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fafafa;
    transition: width var(--main-transition-duration);
}

.header .megamenu .links li:hover::before{
    width: 100%;
}

.header .megamenu .links li a{
    display: block;
    color: var(--main-color);
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.header .megamenu .links li a i{
    margin-right: 10px;
}

.header .megamenu .image img{
    max-width: 100%;
}

@media (max-width: 991px){
    .header .megamenu .image{
        display: none;
    }
}
/* End header */

/* Start landing */
.landing{
    position: relative;
}

.landing::before{
    content: "";
    position: absolute;
    left: 0;
    top: -75px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    transform: skewY(-6deg);
    z-index: -1;
}

.landing .container{
    display: flex;
    align-items: center;
    height: calc(100vh - var(--heading-height));
    position: relative;
    padding-bottom: 120px;
}

.landing .container .image img{
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px){
    .landing .container .image{
        display: none;
    }    
}

.landing .container .go-down{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition-duration);
}

.landing .container .go-down:hover{
    color: var(--main-color-alt);
}

.landing .container .go-down i{
    animation: bouncing 1.5s infinite;
}

.landing .container .text{
    flex: 1;
}

.landing .container .text h1{
    margin: 0 !important;
    letter-spacing: -2px;
    font-size: 40px;
}

.landing .container .text p{
    line-height: 1.7;
    font-size: 23px;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
}

@media (max-width: 991px){
    .landing .container .text{
        text-align: center;
        width: 100%;
    }
    .landing .container .text h1{
        font-size: 32px;
    }
    .landing .container .text p{
        margin: 10px auto;
        font-size: 22px;
    }   
}
/* End landing */

/* Start articles */
.articles{
    padding: var(--main-section-padding) 0;
}

.articles .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .container .box{
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition-duration), box-shadow var(--main-transition-duration);
}

.articles .container .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.articles .container .box img{
    max-width: 100%;
}


.articles .container .box .content{
    padding: 20px;
}

.articles .container .box .content p{
    line-height: 1.5;
    color: #777;
    margin: 10px 0 0;
}

.articles .container .box .info{
    padding: 15px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container .box .info a{
    color: var(--main-color);
    font-weight: bold;
}

.articles .container .box .info i{
    color: var(--main-color);
}

.articles .container .box:hover .info i{
    animation: moving-arrow 0.6s linear infinite;
}
/* End articles */

/* Start gallery */
.gallery{
    padding: var(--main-section-padding) 0;
    background-color: var(--section-background-color);
    position: relative;
}

.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box{
    background-color: white;
    padding: 20px;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.gallery .container .box .image{
    overflow: hidden;
    position: relative;
}

.gallery .container .box .image::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #FFF;
    opacity: 0.2;
    transition: width var(--main-transition-duration), height var(--main-transition-duration);
}

.gallery .container .box:hover .image::before{
    animation: flashing 0.3s linear;
}

.gallery .container .image img{
    max-width: 100%;
    transition: transform var(--main-transition-duration);
}

.gallery .container .box:hover .image img{
    transform: rotate(5deg) scale(1.1);
}
/* End gallery */

/* Start features */
.features{
    padding: var(--main-section-padding) 0;
    background-color: white;
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box{
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .box .image{
    position: relative;
    overflow: hidden;
}

.features .container .box .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.features .container .box:first-child .image::before{
    background-color: #f44036;
}

.features .container .box:nth-child(2) .image::before{
    background-color: #009688;
}

.features .container .box:last-child .image::before{
    background-color: #03a9f4;
}

@media (max-width: 767px){
    .features .container .box .image::before{
        top: -1px;
    }
}

.features .container .box .image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition-duration);
}

.features .container .box:hover .image::after{
    border-width: 170px 500px 170px 0;
}

.features .container .box .image img{
    max-width: 100%;
}

.features .container .box h2{
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}

.features .container .box h2::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 80%;
}

.features .container .box:first-child h2::after{
    background-color: #f44036;
}

.features .container .box:nth-child(2) h2::after{
    background-color: #009688;
}

.features .container .box:last-child h2::after{
    background-color: #03a9f4;
}

.features .container .box p{
    line-height: 2;
    font-size: 20px;
    margin: 30px auto;
    padding: 25px;
    color: #555;
}

.features .container .box a{
    display: block;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    position: relative;
    z-index: 1;
}

.features .container .box:first-child a{
    color: #f44036;
    border-color: #f44036;
}

.features .container .box:nth-child(2) a{
    color: #009688;
    border-color: #009688;
}

.features .container .box:last-child a{
    color: #03a9f4;
    border-color: #03a9f4;
}

.features .container .box a::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    transition: width var(--main-transition-duration);
}

.features .container .box:first-child a::before{
    background-color: #f44036;
}

.features .container .box:nth-child(2) a::before{
    background-color: #009688;
}

.features .container .box:last-child a::before{
    background-color: #03a9f4;
}

.features .container .box:first-child:hover a::before,
.features .container .box:nth-child(2):hover a::before,
.features .container .box:last-child:hover a::before {
    width: 100%;
}

.features .container .box:first-child:hover a,
.features .container .box:nth-child(2):hover a,
.features .container .box:last-child:hover a{
    color: white;
}
/* End features */

/* Start testimonials */
.testimonials{
    padding: var(--main-section-padding) 0;
    background-color: var(--section-background-color);
}

.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.testimonials .container .box{
    position: relative;
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
}

.testimonials .container .box img{
    height: 80px;
    border-radius: 50%;
    position: absolute;
    outline: 10px solid var(--section-background-color);
    top: -20%;
    right: 0;
}

.testimonials .container .box h3{
    margin: 10px 0 0;
}


.testimonials .container .box .title{
    display: block;
    margin: 10px 0 0;
    color: #777;
}

.testimonials .container .box .rating{
    margin: 10px 0 0;
}

.testimonials .container .box .rating i:not(.far){
    color: #ffc107;
}

.testimonials .container .box p{
    margin: 10px 0;
    color: #777;
    line-height: 1.4;
}
/* End testimonials */

/* Start team members */
.team-members{
    padding: var(--main-section-padding) 0;
}

.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.team-members .container .box{
    position: relative;
}

.team-members .container .box::before,
.team-members .container .box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
}

.team-members .container .box::before{
    z-index: -2;
    width: calc(100% - 60px);
    background-color: #f3f3f3;
}

.team-members .container .box::after{
    z-index: -1;
    width: 0;
    background-color: #e4e4e4;
    transition: width var(--main-transition-duration);
}

.team-members .container .box:hover::after{
    width: calc(100% - 60px);
}

.team-members .container .box .data{
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team-members .container .box .data img{
    width: calc(100% - 60px);
    transition: var(--main-transition-duration);
    border-radius: 10px;
}

.team-members .container .box:hover .data img{
    filter: grayscale(100%);
}

.team-members .container .box .data .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    gap: 20px;
}

.team-members .container .box .data .social a{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition-duration);
}

.team-members .container .box .data .social i{
    color: #777;
}

.team-members .container .box .data .social a:hover i{
    color: var(--main-color);
}


.team-members .container .box .info{
    position: relative;
    left: 60px;
    width: calc(100% - 60px);
    padding: 30px 20px;
}

.team-members .container .box .info h3{
    font-size: 22px;
    color: var(--main-color);
    margin: 0 0 10px;
    transition: var(--main-transition-duration);
}

.team-members .container .box:hover .info h3{
    color: #777;
}
/* End team members */

/* Start services */
.services{
    padding: var(--main-section-padding) 0;
    background-color: var(--section-background-color);
}

.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.services .container .box{
    background-color: white;
    transition: transform var(--main-transition-duration);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    position: relative;
}

.services .container .box:hover{
    transform: translateY(-10px);
}

.services .container .box::before{
    content: "";
    background-color: var(--main-color);
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 0;
    transition: width var(--main-transition-duration);
}

.services .container .box:hover::before{
    width: 100%;
}

.services .container .box i{
    display: block;
    width: fit-content;
    margin: 30px auto 20px;
    color: #d5d5d5;
}

.services .container .box h3{
    margin: 0 0 40px;
    text-align: center;
    font-size: 22px;
    color: var(--main-color);
}

.services .container .box .info{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: #f9f9f9;
}

.services .container .box .info::before{
    content: "0"counter(services);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.services .container .box .info::after{
    content: "";
    position: absolute;
    z-index: 2;
    left: 22.5%;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #d5d5d5;
    transform: skewX(-40deg);
}

.services .container .box .info a{
    padding: 0 5px;
    color: var(--main-color);
}
/* End services */

/* Start our skills */
.our-skills{
    padding: var(--main-section-padding) 0;
}

.our-skills .container{
    display: flex;
}

@media (max-width: 991px){
    .our-skills .container img{
        display: none;
    }
}

.our-skills .container .skills{
    flex: 1;
}

.our-skills .container .skills .skill{
    margin: 0 0 20px;
}

.our-skills .container .skills .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
}

.our-skills .container .skills .skill h3 span{
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: var(--main-color);
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 5px;
}

.our-skills .container .skills .skill .the-progress{
    width: 100%;
    height: 30px;
    background-color: #d5d5d5;
}

.our-skills .container .skills .skill .the-progress span{
    display: block;
    height: 100%;
    background-color: var(--main-color);
}
/* End our skills */

/* Start how it works */
.work-steps{
    padding: var(--main-section-padding) 0;
    background-color: var(--section-background-color);
}

.work-steps .container{
    display: flex;
    gap: 60px;
}

@media (max-width: 991px){
    .work-steps .container{
        flex-direction: column;
    }
}

.work-steps .container img{
    max-width: 100%;
    height: 500px;
    align-self: center;
}

@media (max-width: 767px){
    .work-steps .container img{
        height: 400px;
    }
}

.work-steps .container .info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-steps .container .info .box{
    display: flex;
    gap: 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #f6f5f5;
    padding: 30px;
    position: relative;
}

@media (max-width: 767px){
    .work-steps .container .info .box{
        flex-direction: column;
    }
}

.work-steps .container .info .box::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: var(--section-background-color);
    transition: width var(--main-transition-duration), height var(--main-transition-duration);
}

.work-steps .container .info .box:hover::before{
    width: 100%;
    height: 100%;
}

.work-steps .container .info .box img{
    height: 75px;
    align-self: center;
    position: relative;
}

.work-steps .container .info .box .text{
    position: relative;
}

@media (max-width: 767px){
    .work-steps .container .info .box .text{
        text-align: center;
    }
}

.work-steps .container .info .box .text h3{
    margin: 0 0 10px;
    font-size: 22px;
}

.work-steps .container .info .box .text p{
    line-height: 1.8;
    font-size: 18px;
    color: #777;
}
/* End how it works */

/* Start latest events */
.events{
    padding: var(--main-section-padding) 0;
    position: relative;
}

.events .dots{
    position: absolute;
    z-index: -1;
    min-width: 250px;
    min-height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/dots.png');
}

@media (max-width: 991px){
    .events .dots{
        display: none;
    }
}

.events .dots-up{
    top: 150px;
    right: 0;
}

.events .dots-down{
    left: 0;
    bottom: 150px;
}

.events .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container img{
    max-width: 450px;
}

@media (max-width: 991px){
    .events .container img{
        display: none;
    }
}

.events .container .info{
    flex: 1;
}

.events .container .info .time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background-color: white;
    gap: 10px;
    width: fit-content;
}

.events .container .info .time .unit{
    border:1px solid #d4d4d4;
    border-radius: 10px;
    text-align: center;
    width: 75px;
}

.events .container .info .time .unit:hover{
    border:1px solid var(--main-color);
}

.events .container .info .time .unit span:first-child{
    display: block;
    padding: 15px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
}

.events .container .info .time .unit:hover span:first-child{
    border-bottom:1px solid var(--main-color);
}

.events .container .info .time .unit span:last-child{
    display: block;
    padding: 8px 10px;
    font-size: 12px;
}

.events .container .info .title{
    text-align: center;
    margin: 40px 0 0;
    font-size: 32px;
}

.events .container .info p{
    margin: 20px 0 0;
    text-align: center;
    line-height: 1.8;
    color: #777;
    font-size: 20px;
}

.events .container .subscribe{
    width: 100%;
    margin: 100px 0 0;
}

@media (max-width: 991px){
    .events .container .subscribe{
        margin: 0;
    }
}

.events .container .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    border-radius: 50px;
    background-color: var(--section-background-color);
    display: flex;
    gap: 20px;
}

@media (max-width: 767px){
    .events .container .subscribe form{
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

.events .container .subscribe form input[type="email"]{
    flex: 1;
    border-radius: 50px;
    padding: 20px;
    border: none;
    caret-color: var(--main-color);
}

.events .container .subscribe form input[type="email"]:focus{
    outline: none;
}

.events .container .subscribe form input[type="email"]::placeholder{
    transition: opacity var(--main-transition-duration);
}

.events .container .subscribe form input[type="email"]:focus::placeholder{
    opacity: 0;
}

@media (max-width: 767px){
    .events .container .subscribe form input[type="email"]{
        border-radius: 0;
    }
}

.events .container .subscribe form input[type="submit"]{
    border-radius: 50px;
    background-color: var(--main-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
}

@media (max-width: 767px){
    .events .container .subscribe form input[type="submit"]{
        border-radius: 0;
    }
}

.events .container .subscribe form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}
/* End latest events */

/* Start pricing */
.pricing{
    padding: var(--main-section-padding) 0;
    background-color: var(--section-background-color);
}

.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.pricing .container .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
}

@media (min-width: 1200px){
    .pricing .container .most-popular{
        transform: translateY(-20px);
    }
}

.pricing .container .box::before,
.pricing .container .box::after{
    content: "";
    position: absolute;
    height: 50%;
    width: 0;
    background-color: #f6f6f6;
    transition: width var(--main-transition-duration);
}

.pricing .container .box::before{
    top: 0;
    left: 0;
}

.pricing .container .box::after{
    bottom: 0;
    right: 0;
}

.pricing .container .box:hover::before,
.pricing .container .box:hover::after{
    width: 100%;
}

.pricing .container .box .title,
.pricing .container .box .label{
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 40px 0;
}

.pricing .container .most-popular .label::before{
    content: "Most Popular";
    color: white;
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 22px;
    position: absolute;
    z-index: 2;
    top: -40.8px;
    right: 30px;
    height: 150px;
    width: 30px;
    background-color: var(--main-color);
}

.pricing .container .most-popular .label::after{
    content: "";
    position: absolute;
    z-index: 3;
    top: 80px;
    right: 30px;
    border-style: solid;
    border-width: 25px;
    border-color: transparent transparent white transparent;
}

.pricing .container .box img{
    position: relative;
    z-index: 1;
    max-width: 100px;
    display: block;
    margin: 0 auto 40px;
}

.pricing .container .box .price{
    position: relative;
    z-index: 1;
    margin: 0 0 40px;
}

.pricing .container .box .price .amount{
    font-size: 62px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: fit-content;
    color: var(--main-color);
}

.pricing .container .box .price .time{
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.pricing .container .box ul{
    position: relative;
    z-index: 1;
    margin: 0 0 40px;
}

.pricing .container .box ul li{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #eee;
}

.pricing .container .box ul li i{
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
}

.pricing .container .box a{
    position: relative;
    z-index: 1;
    display: block;
    width: fit-content;
    margin: 0 auto 40px;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.pricing .container .box a:hover{
    background-color: var(--main-color);
    color: white;
}
/* End pricing */

/* Start animation */
@keyframes up-and-down {
    0%, 100%{
        top: 0;
    }
    50%{
        top: -50px;
    }
}

@keyframes bouncing{
    0%, 80% ,100%{
        transform: translateY(0);
    }
    70%, 90%{
        transform: translateY(-15px);
    }
}

@keyframes left-move{
    50%{
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    100%{
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes right-move{
    50%{
        right: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    100%{
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes moving-arrow{
    100%{
        transform: translateX(10px);
    }
}

@keyframes flashing {
    100%{
        width: 200%;
        height: 200%;
    }
}
/* End animation */
